body{
    background-color: rgb(70, 70, 70);
    color: rgb(150, 150, 150);
    margin: 0;
    padding: 0;
}
#container{
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
    width: 30vw;
    background-color: rgb(40, 40, 40);
    border: solid;
    border-color: rgb(190, 190, 190);
    border-radius: 5%;
}
#message{
    width: 25vw;
    text-align: center;
    margin-top: 3vh;
    margin-left: 2.5vw;
    font-size: 3vh;
}
#indexButton{
    margin-top: 3vh;
    margin-left: 5vw;
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    background-color: rgb(220, 220, 220);
    border: solid;
    border-color: rgb(128, 128, 128);
    border-radius: 1vh;
    cursor: pointer;
}
@media (max-width: 800px){
    #container{
        margin: auto;
        margin-top: 10vh;
        height:80vh;
        width: 80vw;
        background-color: rgb(40, 40, 40);
        border: solid;
        border-color: rgb(190, 190, 190);
        border-radius: 5%;
    }
    #message{
        width: 70vw;
        text-align: center;
        margin-top: 3vh;
        margin-left: 5vw;
        font-size: 3vh;
    }
    #indexButton{
        margin-top: 3vh;
        margin-left: 5vw;
        width: 70vw;
        height: 5vh;
        font-size: 3vh;
        background-color: rgb(220, 220, 220);
        border: solid;
        border-color: rgb(128, 128, 128);
        border-radius: 1vh;
        cursor: pointer;
    }
}